$position-values: (
0:0,  
10: 10%,
50:50%,
100:100%
);

 
 
 @import "../node_modules/bootstrap/scss/bootstrap";
 
body{
  font-family: 'Roboto', sans-serif;
}
#main-header{
  
  height:auto;
  /* background: url(./Assets/img/MLRBG.jpeg) 100%/cover no-repeat; */

}

.zvalue-1{
  z-index:502;
}

/* .big-section{
  height:500px;
} */
.slide-img{
  height:500px;
}

.customCard-team{
  
  width:100%;
  .card-img-overlay{
    display:none; 
  }
}

.customCard-team:hover{
  
  .card-img-overlay{
    background-color: rgba(0, 0, 0, 0.65);
    display:block; 
  }
}

@media only screen and (min-width: 600px) {
  .slide-img{
    height:750px;
  }
  .customCard-team{
  
    width:500px;
  }

}